<div class="row align-items-center">
    <div class="card_container p-3 col col-md-4 col-sm-12 col-xs-12 ">
      <div class="card  " style="width: 40rem;">
        <div class="blogpic1">
          <h1>Public Transport Around the World</h1>
        </div>
        <div class="card-body">
          <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
      </div>
    </div>
  
    <div class="card_container p-3 col col-md-4 col-sm-12 col-xs-12">
      <div class="card  " style="width: 40rem;">
        <div class="blogpic2">
          <h1>What is a photography trip?</h1>
        </div>
        <div class="card-body">
          <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
      </div>
    </div>
  
    <div class="card_container p-3 col col-md-4 col-sm-12 col-xs-12">
      <div class="card  " style="width: 40rem;">
        <div class="blogpic3">
          <h1>An Indonesian Festival!</h1>
          <!--<img class="card-img-top" src="assets/img/home1.jpg" alt="Card image cap">-->
        </div>
        <div class="card-body">
          <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="card_container p-3 col col-md-4 col-sm-12 col-xs-12">
        <div class="card  " style="width: 40rem;">
          <div class="blogpic4">
            <h1>The countryside is better and I can prove it!</h1>
          </div>
          <div class="card-body">
            <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
          </div>
        </div>
      </div>
  
  
      <div class="card_container p-3 col col-md-4 col-sm-12 col-xs-12">
        <div class="card  " style="width: 40rem;">
          <div class="blogpic5">
            <h1>Winter trips</h1>
          </div>
          <div class="card-body">
            <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
          </div>
        </div>
      </div>
  
      <div class="card_container p-3 col col-md-4 col-sm-12 col-xs-12">
        <div class="card  " style="width: 40rem;">
          <div class="blogpic6">
            <h1>Amazing citys around the world!</h1>
            <!--<img class="card-img-top" src="assets/img/home1.jpg" alt="Card image cap">-->
          </div>
          <div class="card-body">
            <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  