 
  
  <div class="row align-items-center">
    <div class="card_container p-3 col col-md-6 col-sm-12 col-xs-12 ">
      <div class="card" style="width: 30rem;">
        <div class="bg1">
          <h1>Trips with purpose</h1>
        </div>
        <div class="card-body">
          <p class="card-text">We are pleased to make travel itineraries that seek a purpose! Spiritual retreats, cultural packages, photo packages or sports packages, get in touch to talk about what you are looking for.</p>
        </div>
      </div>
    </div>
    <div class="card_container p-3 col col-md-6 col-sm-12 col-xs-12 ">
      <div class="card " style="width: 30rem;">
        <div class="bg2">
          <h1>Perfect Vacation</h1>
        </div>
        <div class="card-body">
          <p class="card-text">We make your trip exactly as you want! Travel with friends? A romantic trip? Bachelor Party? Our agents are available to make an exclusive travel itinerary for you.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="card_container p-3 col col-md-6 col-sm-12 col-xs-12 ">
      <div class="card  " style="width: 30rem;">
        <div class="bg3">
          <h1>Travel Insurance</h1>
        </div>
        <div class="card-body">
          <p class="card-text">Several countries do not allow visitors who do not have health insurance! In addition, travel that includes adventures or sports needs to be done with responsibility and care. Leave it to us! Our partners will give you the perfect coverage.</p>
        </div>
      </div>
    </div>
    <div class="card_container p-3 col col-md-6 col-sm-12 col-xs-12 ">
      <div class="card  " style="width: 30rem;">
        <div class="bg4">
          <h1>Just leave everything with us</h1>
        </div>
        <div class="card-body">
          <p class="card-text">From plane tickets, to tours, restaurants and accommodation ... leave it to us! We know how to make our customers happy and plan their trip taking into account their wishes and budget. Our wish is that you will never forget this trip!</p>
        </div>
      </div>
    </div>
  </div>

